<a href="https://colab.research.google.com/github/saifudnm/google_bangkit/blob/master/StapleFoodPrice_RBFNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
!git clone https://github.com/saifudnm/google_bangkit

Cloning into 'google_bangkit'...
remote: Enumerating objects: 42, done.
remote: Counting objects: 100% (42/42), done.
remote: Compressing objects: 100% (37/37), done.
remote: Total 42 (delta 7), reused 32 (delta 2), pack-reused 0
Unpacking objects: 100% (42/42), done.

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:

import Module

ModuleNotFoundError: ignored

In [0]:
url = 'https://raw.githubusercontent.com/saifudnm/google_bangkit/master/data/shallot.csv'
df = pd.read_csv(url)

In [5]:
df.head()

         Date  Shallot
0  2018-09-01    11000
1  2018-09-02    11000
2  2018-09-03    11000
3  2018-09-04    11000
4  2018-09-05    11000