<a href="https://colab.research.google.com/github/saifudnm/google_bangkit/blob/master/StapleFoodPrice_RBFNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!git clone https://github.com/saifudnm/google_bangkit

Cloning into 'google_bangkit'...
remote: Enumerating objects: 42, done.
remote: Counting objects: 100% (42/42), done.
remote: Compressing objects: 100% (37/37), done.
remote: Total 42 (delta 7), reused 32 (delta 2), pack-reused 0
Unpacking objects: 100% (42/42), done.

In [1]:
from google.colab import drive
drive.mount('/content/gdrive/My\ Drive/Colab\ Notebooks/Module')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
!ls /content/gdrive/My\ Drive/Colab\ Notebooks/Module/*.py

'/content/gdrive/My Drive/Colab Notebooks/Module/initializer.py'
'/content/gdrive/My Drive/Colab Notebooks/Module/kmeans_initializer.py'
'/content/gdrive/My Drive/Colab Notebooks/Module/Module.py'
'/content/gdrive/My Drive/Colab Notebooks/Module/rbflayer.py'

In [0]:
import sys
sys.path.append('/content/gdrive/My Drive/Colab Notebooks/Module/Module.py')

In [5]:
!cat '/content/gdrive/My Drive/Colab Notebooks/Module/Module.py'

# -*- coding: utf-8 -*-
"""
Created on Sat Mar 14 09:37:23 2020

@author: Rully
"""

class Excel:

    from openpyxl import load_workbook

    workbook = load_workbook(filename = 'C:/Akademik/TA/rbf_keras-master/Hasil.xlsx')
    sheet = workbook.active

    def __init__(self, time_total, MAPE, RMSE):
        self.time_total = time_total
        self.MAPE = MAPE
        self.RMSE = RMSE

    def sheet_code(self, row):
        self.sheet['B'+str(row)] = self.time_total
        self.sheet['C'+str(row)] = self.MAPE
        self.sheet['D'+str(row)] = self.RMSE

        self.workbook.save(filename = 'C:/Akademik/TA/rbf_keras-master/Hasil.xlsx')

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
import Module

ModuleNotFoundError: ignored

In [0]:
url = 'https://raw.githubusercontent.com/saifudnm/google_bangkit/master/data/shallot.csv'
df = pd.read_csv(url)

In [0]:
df.head()

         Date  Shallot
0  2018-09-01    11000
1  2018-09-02    11000
2  2018-09-03    11000
3  2018-09-04    11000
4  2018-09-05    11000